{% extends "base.html" %}
{% block content %}

<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT forgotPassword   ================================= -->
        <div class="card mx-auto" style="max-width: 680px; margin-top:100px;">
          <div class="card-body">
          <h4 class="card-title mb-4">Forgot Password</h4>
          <form method="post" action="{% url 'forgotPassword' %}">
              {% csrf_token %}
              <div class="form-group">
                 <input type="email" class="form-control" name="email" placeholder="Email Address" >
              </div> <!-- form-group// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Send Link  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">Remember password? <a href="{% url 'login' %}">Login up</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
  
{% endblock content %}